@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,400;0,500;1,100&display=swap');



*{
    margin: 0px;
    
}
body{
    font-family: 'Work Sans', sans-serif;
    box-sizing: border-box;
}
/* nav start */
nav{
    width: 1920px;
    height: 130px;
    background: #FFF;
    align-items: center;
    margin: 0 auto;
    /* display: block; */
}
.nav-container{
    display: flex;
    padding: 38px;
    width: 1400px;


}
.nav-logo-container{
    width: 70%;
    display: flex;

}
.nav-logo-container img{

}
.nav-logo-container h1{
   
    text-align: center;
    font-size: 45px;
    font-weight: 700;
    margin-left: 20px;
    color: #F948B2 ;

}
.nav-logo-container span{
    color: black;
}

.nav-manu-container{
    width: 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    

}
.nav-manu-container a{
    text-decoration: none;
    color: black;
    /* padding-left: 60px; */
}
.follow{
   background-color: #d2d1d6;
   padding: 15px;
   border-radius: 5px;
}

/* nav end */
/* body goat */
.body-container{
    display: flex;
    width: 1920px;
    margin: 0 auto;
    
    
}
.body-text-container{
    background-image: url(./B8A2-Gamer-Zone/images/Group\ 14.png);
    width: 40%;
    /* padding: 150px; */


}
.body-text-goat{
    padding: 150px;
    
}
.body-text-goat h2{
     color: #0B0223;
    text-align: left;
    font-size: 48px;
    font-weight: 600px;
    
}
.body-text-goat h1{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: left;
    font-size: 95px;
    font-weight: 800px;
}
.body-text-goat .p1{
     color: #534C64;
    text-align:left;
    font-size: 20px;
    font-weight: 500px;
}
.body-text-goat .p2{
     color: #534C64;
    font-size: 20px;
    font-weight: 500px;
    margin-top: 8px;
}
.btn{
    margin-top: 30px;
}
.btn1{
    background-color:#F948B2 ;
    border: 0px;
    padding: 20px 40px;
    color: white;
    border-radius: 48px;
    

}
.btn2{
    background-color: #4EC5F7;
    border: 0px;
    padding: 21px 40px;
    color: white;
    margin-left:20px;
    border-radius: 48px;

    

}


.body-img-container{

}
/* body goat end */

/* online game start  */

.online-game{
    margin: 60px auto 30px;
    text-align: center;
}
.online-game h1{
    color: #0B0223;
    font-size: 48px;
    font-weight: 700;

}
.funny{
     background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 48px;
    font-weight: 700;
}
.online-game p{
     color: #534C64;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px; 
}

.game-videos{
    display: flex;
    justify-content:center;
    gap: 30px;
}
.game-videos:hover{
   cursor: pointer;
}